bin/
obj/
.fake
*.user

# AOC
inputs/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environments
python/.venv/
.venv/
venv/

# Rider
.idea/

# Visual Studio
.vs/

# Visual Studio Code
.vscode/
