[run]
# We'll be running from python/ and using --cov=.
omit =
    cli.py
    registry.py
    __init__.py
    */tests/*
    ../tests/python/*

[report]
# ignore obvious non-code lines
exclude_lines =
    if __name__ == "__main__":
